{{ define "header" }}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Event RSVP</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
	<script src="https://unpkg.com/htmx.org@1.9.8"></script>
</head>

<style>
	tr.htmx-swapping td {
		opacity: 0;
		transition: opacity 1s ease-out;
	}
</style>

<body>
	{{ end }}


	{{ define "footer" }}
</body>

</html>
{{ end }}

{{ define "eventPage" }}
{{ template "header" . }}
{{ template "eventDetailsTable" . }}
{{ if .Password }}
{{ template "eventAdminPage" . }}
{{ end }}
{{ template "footer" . }}
{{ end }}

{{ define "eventDetailsTable" }}
<div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
	<h2 class="uk-card-title uk-heading-medium uk-text-center">{{ .Name }}</h2>
	<table class="uk-table uk-table-divider">
		<thead>
		</thead>

		<tbody>
			<tr>
				<td><b>Name</b></td>
				<td>{{ .Name }}</td>
			</tr>
			<tr>
				<td><b>Date</b></td>
				<td>{{ .Date }}</td>
			</tr>
			<tr>
				<td><b>Location</b></td>
				<td>{{ .Location }}</td>
			</tr>
			<tr>
				<td><b>Details</b></td>
				<td>{{ .Details }}</td>
			</tr>
		</tbody>
	</table>
</div>
{{ end }}

{{/* Show list of invites and RSVP status */}}
{{/* Form to create new invite */}}
{{/* Form for bulk invite from a list of names */}}
{{ define "eventAdminPage" }}
<div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
	<h2 class="uk-card-title uk-heading-medium uk-text-center">Add Invites</h2>
	<form class="uk-form-horizontal" hx-headers='{"Accept": "text/html"}'
		hx-post="/events/{{ .ID }}/invites/bulk?password={{ .Password }}" hx-on::after-request="this.reset()"
		hx-swap="none">

		<input class="uk-input uk-width-3-4@s" type="text" name="invites"
			placeholder="e.g. Invite 1, invite1@email.com; Invite 2, invite2@email.com; ...">
		<button type="submit" class="uk-button uk-button-primary uk-margin-left uk-width-1-5@s">Submit</button>
	</form>
</div>

<div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
	<h2 class="uk-card-title uk-heading-medium uk-text-center">Invites</h2>
	<table class="uk-table uk-table-divider uk-margin-left uk-margin-right">
		<colgroup>
			<col>
			<col>
			<col>
			<col style="width: 200px;">
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>Contact</th>
				<th>RSVP</th>
				<th>
					<a class="uk-button uk-button-small uk-button-default uk-margin-top"
						href="/events/{{ .ID }}/invites/export?password={{ .Password }}" download>
						Export CSV
					</a>
				</th>
			</tr>
		</thead>

		<tbody id="invites-table">
			{{ range .Invites }}
			<tr>
				{{ template "inviteRow" . }}
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>
{{ end }}

{{/* Like inviteRow, but uses HTMX out of band swap to append to the table */}}
{{ define "inviteRowOOB" }}
<tbody hx-swap-oob="beforeend:#invites-table">
	<tr>
		{{ template "inviteRow" . }}
	</tr>
</tbody>
{{ end }}

{{/* Used in eventAdminTemplate to show individual invite, delete button, and button to copy invite link */}}
{{ define "inviteRow" }}
<td>{{ .Name }}</td>
<td>{{ .Contact }}</td>

<td>
	{{ attending . }}
</td>

<td>
	<button hx-on:click="navigator.clipboard.writeText('{{ serverURL }}/events/{{ .EventID }}/invites/{{ .ID }}')"
		class="uk-button uk-button-primary uk-button-small">
		Copy
	</button>
	<button class="uk-button uk-button-danger uk-button-small" hx-delete="/events/{{ .EventID }}/invites/{{ .ID }}"
		hx-swap="swap:1s" hx-target="closest tr">
		Delete
	</button>
</td>
{{ end }}

{{/* // This renders multiple invite rows and uses HTMX out of band responses */}}
{{ define "bulkInvites" }}
{{ range .Invites }}
{{ template "inviteRowOOB" . }}
{{ end }}
{{ end }}

{{/* /invites/{InviteID}: display event details and include buttons to set RSVP */}}
{{ define "invitePage" }}
{{ template "header" . }}

{{ template "eventDetailsTable" .Event }}

<div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
	<h2 class="uk-card-title uk-heading-medium uk-text-center">
		Hello {{ .Name }}!
	</h2>

	{{ template "rsvpButtons" . }}
</div>
{{ end }}

{{ define "rsvpButtons" }}
<div class="uk-text-center" id="rsvp-buttons">
	<p>Your current status is: {{ .Attending }}</p>

	{{ $attendDisabled := "" }}
	{{ $unattendDisabled := "" }}
	{{ if eq .Attending "attending" }}
	{{ $attendDisabled = "disabled" }}
	{{ end }}
	{{ if eq .Attending "not attending" }}
	{{ $unattendDisabled = "disabled" }}
	{{ end }}

	<div hx-headers='{"Accept": "text/html"}' hx-target="#rsvp-buttons" hx-swap="outerHTML">

		<button class="uk-button uk-button-primary uk-button-large"
			hx-put="/events/{{ .EventID }}/invites/{{ .ID }}/rsvp" hx-vals='{"RSVP": "true"}' {{ $attendDisabled }}>

			Attend
		</button>

		<button class="uk-button uk-button-danger uk-button-large"
			hx-put="/events/{{ .EventID }}/invites/{{ .ID }}/rsvp" hx-vals='{"RSVP": "false"}' {{ $unattendDisabled }}>

			Do Not Attend
		</button>
	</div>
</div>
{{ template "footer" . }}
{{ end }}

{{ define "createEventPage" }}
{{ template "header" . }}

<div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
	<h2 class="uk-card-title uk-heading-medium uk-text-center">Create New Event</h2>
	<form hx-post="/events" hx-headers='{"Accept": "text/html"}'>
		<fieldset class="uk-fieldset">

			<div class="uk-margin">
				<input class="uk-input" type="text" placeholder="Name" name="Name">
			</div>

			<div class="uk-margin">
				<input class="uk-input" type="text" placeholder="Date" name="Date">
			</div>

			<div class="uk-margin">
				<input class="uk-input" type="text" placeholder="Location" name="Location">
			</div>

			<div class="uk-margin">
				<textarea class="uk-textarea" rows="5" placeholder="Details" name="Details"></textarea>
			</div>

			<div class="uk-margin">
				<input class="uk-input" type="password" placeholder="Password" name="Password">
			</div>
		</fieldset>

		<button type="submit" class="uk-button uk-button-primary uk-margin-top">Submit</button>
	</form>
</div>

{{ template "footer" . }}
{{ end }}